@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fill-up {
  0% {
    /* `transform` has better performance than using `width` */
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.bar-filling-up {
  animation: fill-up linear 2s;
}
